<li>
    <article class="snippet">
        <img src="<%= post.data.image %>" alt="" class="snippet_image">
        <h3 class="snippet__title">
            <%= post.data.title %>
        </h3>
        <p class="snippet__body">
            <%= post.data.description %>
        </p>
        <p class="snippet__meta">by <span>
                <%= post.data.author %> on <%= post.data.date.toLocaleString() %>
            </span></p>
        <a href="<%= post.url %>" class="btn btn--primary">Continue Reading</a>

    </article>
</li>